html,body
  font-family Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif

.clearfix
  display inline-block
  &:after
    display block
    content ''
    height 0
    line-height 0
    visibility hidden
    clear both
